{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/s/assets/ico/favicon.png">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <title>smalr.io - Sometimes, all I need is the air that I breathe and to love you</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/s/dist/css/flat-ui.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
	<link href="/s/custom.css" rel="stylesheet">
	
    <!-- Custom styles for this template -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js" ></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet">
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables_themeroller.css" rel="stylesheet">
    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/s/assets/js/html5shiv.js"></script>
      <script src="/s/assets/js/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript">
    function output_session_urls(data) {
     output = "";
     for(var i = 0; i < data.length; i++) {
       output += "<div class='url_box'>";
       output += "<div class='url_output_dest'>" + $('<a>').prop('href', data[i]['destination_url']).prop('hostname') + "</div>";
       output += "<div class='url_output_url'>http://smalr.io/" + data[i]['key'] + "</div>";
       output += "<div class='url_output_count'>" + data[i]['hit_count'] + " Hits</div>";
       output += "<div class='url_output_safety'>" + data[i]['safety_rating'] + "/10 Security</div>";
       output += "<div class='url_output_icon'><a class='btn btn-small'><i class='icon-copy icon-large'></i></a></div>"
       output += "<div class='url_output_icon'><a class='btn btn-small'><i class='icon-cog icon-large'></i></a></div>"
       output += "<div class='url_output_icon'><a class='btn btn-small'><i class='icon-bar-chart icon-large'></i></a></div>"
       output += "<div class='url_output_icon'><a onclick=\"delete_url("+data[i]['pk']+")\" class='btn btn-small'><i class='icon-remove icon-large'></i></a></div>"
       output += "</div>";
     }
     $('#url_output').html(output);
   }

   $(document).ready(function(){
   $(document).ajaxSend(function(event, xhr, settings) {
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
          }
          function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }

          if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
          }
        });
$(':submit').on('click', function() { 
      $.ajax({ // ajax call starts
       type: "POST",
       url: '/0/shorten/', 
          data: { url: $("#url_input").val() }, // Send value of the clicked button
          dataType: 'json', // Choosing a JSON datatype
          success: function(data) {// Variable data contains the data we get from serverside
          	output_session_urls(data);
          },
        });
      return false; // keeps the page from not refreshing 
    });
$(':submit').click();
});

function delete_url(pk) {
	$.ajax({ // ajax call starts
		type: "POST",
    url: '/0/delete/' + pk + '/', 
    dataType: 'json',
    success: function(data) { 
     output_session_urls(data);
   }

 });
}

</script>
  </head>

  <body>


    <div class="container" style="margin-top: 130px">
      	<!-- Container with header, input bar, links and output -->
      	<center>
      	<div class="row" style="width: 700px">  
      		<div class='logo'><img src="/s/logo.png"/> <img src="/s/phonology.png" title="dont wanna be hearing no smallerio" class="phonology"/></div>
			
			<form>{% csrf_token %}</form>
		    <div class="input-group">
		      	<input type="text" class="form-control input-lg" placeholder="Copy or type URL to shorten here!" name="url" id="url_input"/>
		      	<span class="input-group-btn">
		        	<button class="btn btn-default input-lg" type="submit">Smalr</button>
		      	</span>
		    </div>

		    <!-- Options for a auto-generated link or custom link.. -->

			<div id="shorten-output">
				
			</div>
		   
		    <p class="text-right">
				<label class="radio-inline">
 	 				<input type="radio" name="link-choice" id="auto-gen" value="1" checked />auto-generated
				</label>

				<label class="radio-inline">
  					<input type="radio" name="link-choice" id="custom" value="2" />custom
				</label>
			</p>

			<br />
			<br />

			
			<div id='url_output' class='fancy-table'>		
			</div>
			
			<div id='footer'>
			<center>
			<a href='/0/about/'>About</a>&nbsp;<a href='/0/contact/'>Contact</a>&nbsp;<a href='/0/api'>API</a>
			</center>
			</div>
  		
      	 </div> <!-- /row div -->
      	</center>
    </div> <!-- /container -->

  </body>
</html>
